---
import Shortcut from "./Shortcuts";
import Window from "./Window";
import "../styles/computer.css";
import { windowsConfig } from "../configs/windows";
import NavBar from '../components/NavBar.astro';
---
<div class="desktop">
    <NavBar/>
    {windowsConfig.map(win => (
      <Shortcut label={win.label} icon={win.icon} target={`#${win.id}`} x={win.x} y={win.y} client:load/>
    ))}

    {windowsConfig.map(win => (
      <Window id={win.id} title={win.title} client:load>
        <win.content/>
      </Window>
    ))}
</div>
